:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--grey-900);
    color: var(--white);
    font-family: 'MyCustomFont';
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--grey-800);
    padding: 40px;
    height: auto;
    border-radius: 20px;
}

.heading {
    text-align: center;
}

.img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.name {
    padding-bottom: 5px;
}

.location {
    font-size: 14px;
    padding-bottom: 20px;
    color: var(--green);
}

.desc {
    font-size: 14px;
}

.links {
    display: grid;
    gap: 15px;
    margin-top: 20px;
}

.button {
    background-color: var(--grey-700);
    color: var(--white);
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    font: 14px;
}

.button:hover {
    background-color: var(--green);
    color: var(--grey-900);
    transition: 0.5s;
}

@media screen and (max-width: 645px) {
  h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 530px) {
  body {
    width: 70vw
  }
}

