:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

@font-face {
    font-family: theFont;
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--grey-900);
    color: var(--white);
    font-family: sans-serif, theFont;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--grey-800);
    padding: 40px;
    height: auto;
}

.heading {
    text-align: center;
}

.img {
    border-radius: 50%;
    ;
}

.name {
    padding-bottom: 5px;
}

.location {
    font-size: 14px;
    padding-bottom: 20px;
    color: var(--green);
}

.desc {
    font-size: 14px;
}

.links {
    display: grid;
    gap: 15px;
    margin-top: 20px;
}

.button {
    background-color: var(--grey-700);
    color: var(--white);
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font: 14px;
}